body {
    margin: 0;
    padding: 0;
}

#container {
    background-color: aquamarine;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sketchPad {
    display: flex;
    width: 90%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 1200px; /* Limit the width for larger screens */
    margin: 10px 0; /* Add spacing around the sketch pad */
}

#undo {
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    background-color: rgb(85, 126, 239);
    color: aquamarine;
    border: 1px solid rgb(85, 126, 239);
    border-radius: 2px;
    padding: 10px 20px; /* Add padding for a larger click area */
    margin: 20px 0; /* Add space around the button */
    cursor: pointer; /* Add a pointer cursor for better UX */
}

#undo:disabled,
#undo:disabled:hover {
    background-color: gray;
    cursor: default;
}

#advanceBtn{
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    background-color: rgb(85, 126, 239);
    color: aquamarine;
    border: 1px solid rgb(85, 126, 239);
    border-radius: 2px;
    padding: 10px 20px; /* Add padding for a larger click area */
    margin: 20px 0; /* Add space around the button */
    cursor: pointer; /* Add a pointer cursor for better UX */

}

.row{
    display: flex;
    align-items: center;
}
.thumb{
    width: 100%;
}

.rowLabel {
    flex: 2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sample_container{
    flex: 1 1 0;
    background-color: white;
    text-align: center;
    border: 10%;
    margin: 1px;
    overflow: hidden;
}

.rowLabel {
    flex: 2 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /**style change*/
    width: 15%;
    margin-left: 3rem;
    font-weight: bold;
 }

@media (max-width: 768px) {
    #sketchPad {
        width: 95%; /* Increase responsiveness for smaller screens */
    }

    #undo, #advanceBtn {
        width: 80%; /* Make the button wider on small screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
    #advancedBtn{
        width: 76%;
    }
}

@media (max-width: 480px) {
    #undo, #advanceBtn {
        width: 100%; /* Use full width on very small screens */
        font-size: 12px; /* Further reduce font size */
    }
    #advancedBtn{
        width: 100%;
    }
}
